DATABASE_URL=caminho banco dados
SECRET_KEY=troque por uma chave segura
ALGORITHM= hash
ACCESS_TOKEN_EXPIRE_MINUTES= tempo de expiração do token em minutos
TIME_ZONE=fuso horario para calculos do sistema
