# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.lock

# Environment variables
.env

# VSCode
.vscode/

# SQLite
*.db
*.sqlite3

# Alembic cache
alembic/__pycache__/


# Temporary files
tmp/
.temp/
